body {
  font-family: "Nunito Sans", sans-serif;
}

.wrapper {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0px 15px;
}

.header {
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 25px;
}

.header-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 68.5%;
}

.header-logo {
  display: block;
  background: url("../images/logo.svg") 0 0 / cover no-repeat;
  width: 176px;
  height: 56px;
}

.header-nav {
  list-style-type: none;
  display: flex;
  padding-left: 0;
  gap: 47px;
}

.header-nav a {
  color: #443737;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  text-decoration: none;
  transition: all 0.5s ease 0s;
}

.header-nav a:hover {
  color: #ffc725;
}

.header-nav a::after {
  border-radius: 1.5px;
  background-color: transparent;
  content: "";
  display: block;
  width: 100%;
  height: 3px;
}

.header-nav a.active::after {
  background-color: #ffc725;
}

.button {
  border: 1px solid #000;
  align-items: center;
  background-color: transparent;
  display: flex;
  border: none;
  padding: 0px;
  gap: 10px;
  cursor: pointer;
}

.button-item {
  position: relative;
}

.button-count {
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  background-color: #f37335;
  border-radius: 100%;
  text-align: center;
  line-height: 1.3;
  position: absolute;
  bottom: 5px;
  right: -4px;
  width: 17px;
  height: 17px;
}

.button-text {
  color: #443737;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 700;
}

/* --------- BG ---------------- */

.bg-menu {
  background: url("../images/main.jpg") 0 0 / cover no-repeat;
  background-position: center center;
  text-align: center;
  padding: 142px 0px;
  margin-bottom: 139px;
}

.breadcrumbs {
  padding-left: 0;
  margin-top: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 7px;
}

.breadcrumbs a {
  color: #dedede;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.5s ease 0s;
}

.breadcrumbs a:hover {
  color: #ffc725;
}

.breadcrumbs a::before {
  content: "/";
  position: relative;
  left: -3px;
  pointer-events: none;
}

.breadcrumbs a:hover::before {
  color: #dedede;
}

.breadcrumbs li:first-child a::before {
  display: none;
}

.title {
  color: #fff;
  font-size: 79px;
  font-weight: 700;
  margin-top: 17px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.description {
  color: #faf9f9;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 150%;
  max-width: 320px;
  margin: 0 auto;
}

/* --------- MAIN ---------------- */

/* --------- BANNER ---------------- */
.banner {
  margin-bottom: 100px;
}

.banner-box {
  padding: 100px 0px 120px 100px;
  background: url("../images/banner.jpg") 0 0 / cover no-repeat;
  background-position: center center;
  padding-bottom: 80px;
}

.banner-title {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 60px;
  line-height: 1.3;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 10px;
}

.banner-title span {
  background-color: #f37335;
  border-radius: 14px;
  color: #fff;
  display: block;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  max-width: 96px;
  margin-bottom: 5px;
}

.banner-text {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  max-width: 353px;
  margin-top: 0px;
  margin-bottom: 35px;
}

.banner-link {
  color: #1e2f40;
  background-color: #fbb731;
  border-radius: 5px;
  padding: 18px 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid #fbb731;
  transition: all 0.5s ease 0s;
}

.banner-link:hover {
  background-color: transparent;
  color: #fbb731;
}

/* --------- SECTION MAIN-MENU ---------------- */
.menu {
	padding-top: 20px;
   margin-bottom: 100px;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 39px;
}

.menu-title {
  color: #1b2a49;
  font-size: 44px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0px;
}

.menu-select {
  border: 1px solid #dedede;
  padding: 13px 30px;
  border-radius: 22px;
  color: #443737;
  font-size: 15px;
  flex-basis: 279px;
  appearance: none;
  background: url("../images/arrow.svg") 89% center no-repeat;
  background-size: 12.79px 7.75px;
}

.menu-grid {
  display: grid;
  margin-bottom: 72px;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 20px;
}

.menu-grid-cover {
  width: 100%;
  height: 430px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.menu-grid-cover img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.menu-grid-title {
  margin: 0px 0px 10px 0px;
  color: #1b2a49;
  font-size: 30px;
  font-weight: 600;
}

.menu-grid-price {
  color: #979797;
  font-size: 20px;
  font-weight: 700;
  margin: 0px 0px 22px 0px;
}

.menu-grid-btn {
  border: none;
  border-radius: 5px;
  background-color: #fbb731;
  padding: 10px 32px;
  margin: 0 auto;
  transition: all 0.5s ease 0s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
}

.menu-grid-btn:hover {
  background-color: #f37335;
  cursor: pointer;
}

.menu-grid-icon {
  background: url("../images/cart-menu.svg") 0 0 no-repeat;
  display: block;
  width: 18px;
  height: 18px;
}

.menu-grid-text {
  color: #1e2f40;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

/*----- FOOTER ------*/
.footer {
  background: #1e2f40;
  color: #fff;
  padding-top: 117px;
  padding-bottom: 106px;
  margin-top: 144px;
}

.footer-box {
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  width: 63px;
  height: 56px;
}

.footer-item {
  flex: 0 0 auto;
}

.footer-item h2 {
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 12px;
}

.footer-item li {
  margin-bottom: 9px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #faf9f9;
  font-weight: 700;
  line-height: 24px;
}

.footer-item a {
  color: #dedede;
  text-decoration: none;
  font-weight: 400;
}

.footer-item a:hover {
  color: #fbb731;
  transition: all 0.5s ease 0s;
}

.footer-item span {
  color: #dedede;
  display: block;
  font-weight: 400;
  margin-bottom: 2px;
}

.footer-list-tel a {
  font-size: 20px;
  text-decoration: none;
  color: #fbb731;
}

.footer-list-tel a:hover {
  color: #fff;
  transition: all 0.5s ease 0s;
}

.footer-list-tel li {
  margin-bottom: 12px;
}

.footer-list {
  list-style-type: none;
  padding: 0px;
}

.button-up {
	background-color: #fbb731;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	color:#1e2f40;
	text-decoration: none;
	padding: 5px 20px;
	position: fixed;
	border-radius: 5px;
	bottom: 20px;
	right: 40px;
	transition: 1s;
}

.button-up:hover {
	background-color: #f37335;
}

.button-up.hidden {
	opacity: 0;
}

.button-up.visible {
	opacity: 1;
}

/*------ STYLE INDEX ------  */
 .main {
	background: linear-gradient(180deg, #0c4c7b -100%, #1e2f40 100%);
 }

 .box {
	display: flex;
	justify-content: space-between;
 }

 .text {
	color: #faf9f9;
	flex: 0 0 580px;
	padding-top: 170px;
	padding-bottom: 170px;
 }

 h1 {
	font-size: 120px;
	font-weight: 800;
	text-transform: uppercase;
	line-height: 1.2;
	margin-top: 0px;
	margin-bottom: 0px;
 }

 h1 span {
	color: #fbb731;
	font-size: 30px;
	font-weight: 700;
	line-height: 1.3;
	display: block;
	margin-bottom: 10px;
 }

 .text p {
	font-family: "Open Sans", sans-serif;
	font-size: 19px;
	line-height: 1.4;
	margin-bottom: 42px;
 }

 .visual {
	flex-grow: 1;
	display: flex;
	justify-content: flex-end;
	position: relative;
 }

 .bg-main {
	width: 432px;
	height: 100%;
	background: linear-gradient(2.42deg, #f37335 -19.6%, #fbb731 100.79%, #fdc830 100.79%);
 }

 .main img {
	width: 829px;
	position: absolute;
	right: -168px;
 }

 .promo {
	padding-top: 186px;
	padding-bottom: 46px;
 }

 .promo-left,
 .promo-right {
	flex: 0 0 49%;
	color: #fff;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
 }

 .promo-left {
	background-image: url('../images/promo-left.jpg');
	padding: 116px 50px;
 }

 .promo-right {
	background-image: url('../images/promo-right.jpg');
	padding: 102px 50px;
 }

 .sale {
	font-size: 14px;
	font-weight: 900;
	background: #f37335;
	padding: 5px 19px;
	border-radius: 14px;
	display: inline-block;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 3px;
 }

 .cost {
	font-size: 60px;
	font-weight: 900;
	margin-top: 0px;
	margin-bottom: 8px;
}

 .promo-description {
	font-family: "Open Sans", sans-serif;
	color: #faf9f9;
	font-size: 15px;
	line-height: 1.6;
 }

 .promo-left .promo-description {
	max-width: 392px;
 }

 .promo-right .promo-description {
	max-width: 300px;
	margin-bottom: 40px;
 }

 .free {
	font-size: 44px;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 10px;
 }
 