body {
	font-family: 'Nunito Sans', sans-serif;
}

.container {
	max-width: 1180px;
	margin: 0 auto;
	padding: 0px 15px;
}

.header {
	font-family: 'Open Sans', sans-serif;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 26px;
	padding-bottom: 25px;
}

.header-logo {
	display: block;
	background: url('../images/logo.svg') 0 0/cover no-repeat;
	width: 176px;
	height: 56px;
}

.header-nav {
	list-style-type: none;
	display: flex;
	padding-left: 0;
	gap: 46px;
}

.header-nav a {
	color: #443737;
	font-size: 20px;
	font-weight: 600;
	line-height: 120%;
	text-decoration: none;
}

.header-nav a::after {
	border-radius: 1.5px;
	background-color: transparent;
	content: '';
	display: block;
	width: 100%;
	height: 3px;
}

.header-nav a.active::after {
	background-color: #FFC725;
}

.button {
	align-items: center;
	background-color: transparent;
	display: flex;
	border: none;
	padding: 0px;
	gap: 10px;
}

.button-item {
	position: relative;
}

.button-count {
	color: fff;
	font-size: 13px;
	font-weight: 700;
	background-color: #F37335;
	border-radius: 100%;
	text-align: center;
	line-height: 1.5;
	position: absolute;
	bottom: 3px;
	right: -4px;
	width: 17px;
	height: 17px
}

.button-text {
	color: #443737;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 700;
}

/* --------- BG ---------------- */

.bg {
	background: url('../images/main.jpg') 0 0/cover no-repeat;
	background-position: center center;
	text-align: center;
	padding: 142px 0px;
}

.container {

}

.breadcrumbs {
	padding-left: 0;
	margin-top: 0;
	list-style-type: none;
	display: flex;
	justify-content: center;
	gap: 16px;
}

.breadcrumbs a {
	color: #DEDEDE;
	font-family: 'Open Sans', sans-serif;
	font-size: 15;
	font-weight: 400;
	text-decoration: none;
}

.breadcrumbs a::before {
	content: '/';
	position: relative;
	left: -7px;
}

.breadcrumbs li:first-child a::before {
	display: none;
}

.title {
	color: #fff;
	font-size: 79px;
	font-weight: 700;
	margin-top: 10px;
	margin-bottom: 10px;
}

.description {
	color: #FAF9F9;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 150%;
	max-width: 320px;
	margin: 0 auto;
}

